In [1]:
import pandas as pd
import numpy as np

In [2]:
channel_perf = pd.read_csv(r"C:\Users\91744\Desktop\projects\CrimsonProject\channel_performance_202508091723.csv")
viewer_behavior = pd.read_csv(r"C:\Users\91744\Desktop\projects\CrimsonProject\viewer_behavior_202508091729.csv")
vid_perf = pd.read_csv(r"C:\Users\91744\Desktop\projects\CrimsonProject\top_video_performance_materialized_202508091737.csv")
platform_act = pd.read_csv(r"C:\Users\91744\Desktop\projects\CrimsonProject\platform_daily_activity_202508091723.csv")

In [3]:
channel_perf.head()
channel_perf.info()
channel_perf.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   channel_id         135 non-null    object
 1   channel_title      135 non-null    object
 2   total_videos       135 non-null    int64
 3   total_watch_time   135 non-null    float64
 4   unique_viewers     135 non-null    int64
 5   total_subscribers  135 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 6.5+ KB

       total_videos  total_watch_time  unique_viewers  total_subscribers
count    135.000000        135.000000      135.000000         135.000000
mean       8.807407      19406.965321        4.000000         258.540741
std       19.767490      93273.470180       12.660315        1000.740045
min        0.000000          0.000000        0.000000           0.000000
25%        1.000000          0.000000        0.000000           1.000000
50%        2.000000          0.000000        0.000000           6.000000
75%        6.500000         34.431150        1.000000          54.000000
max      161.000000     680994.281100       99.000000        7632.000000

In [4]:
print(viewer_behavior.head())
#impute missing values in total_watch_time to 0
viewer_behavior['total_watch_time'] = viewer_behavior['total_watch_time'].fillna(0)
# impute missing values in country to unknown
viewer_behavior['country'] = viewer_behavior['country'].fillna('Unknown')
print(viewer_behavior.info())
print(viewer_behavior.describe())

                              viewer_id account_name country  total_views  \
0  0001a8a3-2594-11f0-9801-02420a0001b3    Anonymous      US            0
1  0001acbe-2341-11f0-9d5c-02420a0001fd    Anonymous      HK            0
2  0002d1a5-5324-11f0-a147-02420a0001f5    Anonymous      US            0
3  0002d658-43e5-11f0-83d0-02420a000108    Anonymous      US            0
4  0005170c-2aaf-11f0-8894-02420a0001ab    Anonymous      US            0

   total_watch_time  engagement_count  total_sessions  returning_sessions  \
0               NaN                 0               1                   0
1               NaN                 0               1                   0
2               NaN                 0               1                   0
3               NaN                 0               1                   0
4               NaN                 0               1                   0

   ad_blocked_sessions
0                    0
1                    0
2                    0
3                    0
4                    0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29638 entries, 0 to 29637
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   viewer_id            29638 non-null  object
 1   account_name         29638 non-null  object
 2   country              29638 non-null  object
 3   total_views          29638 non-null  int64
 4   total_watch_time     29638 non-null  float64
 5   engagement_count     29638 non-null  int64
 6   total_sessions       29638 non-null  int64
 7   returning_sessions   29638 non-null  int64
 8   ad_blocked_sessions  29638 non-null  int64
dtypes: float64(1), int64(5), object(3)
memory usage: 2.0+ MB
None
        total_views  total_watch_time  engagement_count  total_sessions  \
count  29638.000000      2.963800e+04           29638.0    29638.000000
mean       0.064073      3.317714e+03               0.0        1.057325
std        2.223344      4.589222e+05               0.0        1.543900
min        0.000000      0.000000e+00               0.0        0.000000
25%        0.000000      0.000000e+00               0.0        1.000000
50%        0.000000      0.000000e+00               0.0        1.000000
75%        0.000000      0.000000e+00               0.0        1.000000
max      284.000000      7.834703e+07               0.0      163.000000

       returning_sessions  ad_blocked_sessions
count        29638.000000         29638.000000
mean             2.893852             0.630238
std            284.168370            80.202712
min              0.000000             0.000000
25%              0.000000             0.000000
50%              0.000000             0.000000
75%              0.000000             0.000000
max          38056.000000         13632.000000

In [5]:
print(vid_perf.head())
print(vid_perf.describe())
# fill the missing values in total_view, total_engagements, avg_playback_position, avg_watch_percent to 0
vid_perf['total_views'] = vid_perf['total_views'].fillna(0)
vid_perf['total_engagements'] = vid_perf['total_engagements'].fillna(0)
vid_perf['avg_playback_position'] = vid_perf['avg_playback_position'].fillna(0)
vid_perf['avg_watch_percent'] = vid_perf['avg_watch_percent'].fillna(0)
print(vid_perf.info())

                               video_id                        video_title  \
0  016a463e-f352-49c8-8fb9-deb4d52ef746  Jayden Jones Tallahassee Rickards
1  0191e802-9d9e-4877-8802-afdff42c24ae            Mental Health in Sports
2  027e2702-540b-4257-a34e-6644c2c9ad35    Razorback volleyball ranked #14
3  02928b91-d7aa-433d-841e-31db064fbf8e         Fielding: Routine Groudout
4  02ac67f7-300c-47a2-b2e5-f19284d9e5ed      A CRE8TIVE VISIONS PRODUCTION

                     channel_title  total_views  impressions  \
0            NAAAA Orlando Chapter         57.0           56
1                The Recruit Grind          NaN            6
2              Moms Favorite Plays          NaN          155
3  Daniella Armstrong's Highlights          NaN            4
4          JAMES HAGLER PROMOTIONS          NaN            6

   total_engagements  avg_playback_position  avg_watch_percent
0              268.0                  21.44                0.0
1                0.0                   0.00                0.0
2                0.0                   0.00                0.0
3                0.0                   0.00                0.0
4                0.0                   0.00                0.0
       total_views  impressions  total_engagements  avg_playback_position  \
count   284.000000  1189.000000         319.000000             325.000000
mean      6.686620    23.850294         125.125392             188.460615
std      11.575701    48.730615         465.521987             539.905626
min       1.000000     1.000000           0.000000               0.000000
25%       1.000000     2.000000           3.000000               6.830000
50%       3.000000     7.000000          12.000000              20.590000
75%       7.000000    17.000000          49.500000              52.240000
max     103.000000   356.000000        4925.000000            5602.350000

       avg_watch_percent
count         304.000000
mean           40.503158
std            49.143370
min             0.000000
25%             3.115000
50%            36.850000
75%            62.097500
max           572.440000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189 entries, 0 to 1188
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   video_id               1189 non-null   object
 1   video_title            1188 non-null   object
 2   channel_title          1189 non-null   object
 3   total_views            1189 non-null   float64
 4   impressions            1189 non-null   int64
 5   total_engagements      1189 non-null   float64
 6   avg_playback_position  1189 non-null   float64
 7   avg_watch_percent      1189 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 74.4+ KB
None

In [6]:
print(platform_act.head())
print(platform_act.info())
print(platform_act.describe())

  activity_date  unique_viewers  total_views  total_watch_time  \
0    2025-08-09               2          128      8.538254e+03
1    2025-08-08               8          177      1.595451e+05
2    2025-08-07               5           58      4.461983e+02
3    2025-08-06               3          157      1.404318e+06
4    2025-08-05               4          269      0.000000e+00

   total_engagements
0                128
1                176
2                 58
3                157
4                269
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   activity_date      114 non-null    object
 1   unique_viewers     114 non-null    int64
 2   total_views        114 non-null    int64
 3   total_watch_time   114 non-null    float64
 4   total_engagements  114 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 4.6+ KB
None
       unique_viewers  total_views  total_watch_time  total_engagements
count      114.000000   114.000000      1.140000e+02         114.000000
mean         5.605263   351.280702      2.826966e+06         350.131579
std          4.153298   876.413594      1.567515e+07         876.035312
min          1.000000     1.000000      0.000000e+00           1.000000
25%          3.000000    34.000000      2.980124e+02          32.250000
50%          5.000000   100.000000      2.653337e+03          99.500000
75%          7.000000   235.000000      1.070596e+05         235.000000
max         33.000000  7106.000000      1.183079e+08        7106.000000

In [7]:
#write to this folder C:\Users\91744\Desktop\projects\CrimsonProject\edited_Csvs
channel_perf.to_csv("channel_performance_clean.csv", index=False)
viewer_behavior.to_csv("viewer_behavior_clean.csv", index=False) 
vid_perf.to_csv("video_performance_clean.csv", index=False)   
platform_act.to_csv("platform_activity_clean.csv", index=False)

print("Cleaned files saved successfully.")

Cleaned files saved successfully.

In [8]:
import os
os.getcwd()

'c:\\Users\\91744\\Desktop\\projects\\CrimsonProject'